/* HEADER */
h1 {
    font-size: 60px;
    color: white;
    font-family: 'Quattrocento Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1E1E45;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 6px 45px 2px rgba(92,92,92,0.57);
    margin-bottom: 50px;
}

#headerIcon {
    height: 75px;
}



/* OVERALL BODY */

body {
    background-image: url("https://connietran-dev.github.io/weather-dashboard/Assets/images/background.png");
    background-position: center;
    background-size: cover;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.overallCard {
    background-color: #5558af;
    box-shadow: 0px 6px 45px 3px rgba(92,92,92,0.57);
}

.displayContainer {
    border-radius: 12px;
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.mainContainer {
    min-height: 200px;
    background-color: white;
    padding: 12px;
}

.displayCard {
    border: 1px solid grey;
    border-radius: 15px;
    min-height: 100px;
    margin: 15px 20px 0 15px;
    padding: 5px;
    text-align: center;
}


/* ASIDE */

aside {
    background-color: white;
}

input {
    outline: 1px solid black;
    margin-bottom: 20px;
}

li {
    list-style-type:none;
    margin: 10px 0;
    padding: 5px;
    width: 150px;
    border: 0.04rem solid grey;
    border-radius: 5px;
}


/* WEATHER ELEMENTS */

h2 {
    margin: 0 20px;
}

#currentDate {
    font-size: 20px;
    margin: 0 20px;
    padding-top: 5px;
}

#currentDescription {
    margin: 7px 20px 0 20px;
}

.weatherDescription {
    font-style: italic;
}


.UV {
    background-color: red;
    color: white;
}


h4 {
    font-size: 22px;
}

.displayNumber {
    font-size: 35px;
    font-weight: 600;
}

.forecastNumber {
    font-size: 24px;
    font-weight: 600;
}

.forecastHumid {
    font-size: 18px;
}

.units {
    font-size: 15px;
    font-weight: 300;
}


/* MEDIA QUERIES */

@media (max-width:400px) {
    h1 {
        font-size: 40px;
    }
    #current-icon {
        height: 60px;
    }
}