body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

header {
    background-color: #5558af;
    color: white;
    text-align: center;
    padding-top: 30px;
    height: 100px;
}

div {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

aside {
    border: 1px solid black;
}

li {
    list-style-type:none;
}

#currentDate {
    font-size: 20px;
}

h4 {
    font-size: 20px;
}

.displayNumber {
    font-size: 35px;
    font-weight: 600;
}

.forecastNumber {
    font-size: 24px;
    font-weight: 600;
}

.forecastHumid {
    font-size: 18px;
}

.units {
    font-size: 15px;
    font-weight: 300;
}